#lin {
    position: fixed;
    z-index : 99;
    top     : 20px;
    left    : 0;

    box-sizing: border-box;
    max-width : 100px;
    height    : 100%;
    padding   : 4px;
    overflow  : auto;

    li {
        list-style: none;
    }

    ul {
        padding: 0;
    }

    &>ul {
        display  : flex;
        flex-flow: row, nowrap;
    }
}